[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
Django = ">=2.1.5"

[dev-packages]
jedi = "*"
"flake8" = "*"
twine = "*"
coveralls = "*"
